/* 
    Break Scene CSS
    This file contains the CSS for the break scene, which is used for intermissions and breaks during the stream.
*/


body {
    background: radial-gradient(
        red
    );
}

.pond-background {
    position: relative;
    width: 1920px;
    height: 1080px;
    z-index: 1;
}

.pond-background > .pond-background-image {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: url("../../comm-break/cm-background2.png");
    background-size: 1920px 1080px;
    background-position-x: 0px;
}
