/* 
    Break Scene CSS
    This file contains the CSS for the break scene, which is used for intermissions and breaks during the stream.
*/


body {
    background: #000;
}

.pond-background {
    position: absolute;
    inset: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    z-index: 1;
}
/*
.pond-background-image,
.pond-background-image::before,
.pond-background-image::after {
    position: absolute;
    inset: 0;
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
    pointer-events: none;
}
*/
.pond-background > .pond {
    position: absolute;
    inset: 0;
    width: 1920px;
    height: 1080px;
    z-index: 1;
    background-image: url("../../comm-break/cm-background.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 1920px 1080px;
}
