.scene.main-scene {
    display: flex;
    flex-direction: row;
}

.scene.main-scene .scene-content {
    width: 1920px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}
.scene.main-scene .scene-content img{
    width: 100%;
    position: absolute;
}