
/* 
    Sets up the main Screen for the Break Scene. Global configurations for all the different Break Scenes are set here. This includes the Team Display, Map Display, and Commentator/Intermission Screen.
*/

.scene.main-scene {
    display: flex;
    flex-direction: row;
}

.scene.main-scene .scene-content {
    width: 1920px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}
.scene.main-scene .scene-content img{
    width: 100%;
    position: absolute;
}