.scene.teams-scene {
  position: absolute;
  inset: 0;
  align-items: unset;
  z-index: 2;
  --team-a-color: transparent;
  --team-b-color: transparent;
}

.scene.teams-scene > .scene-content {
  position: absolute;
  inset: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

.scene.teams-scene > .scene-content > .teams-background {
  position: absolute;
  inset: 0;
  width: 1920px;
  height: 1080px;
  z-index: 1;
}

.scene.teams-scene > .scene-content > .teams-background > .teams-background-image,
.scene.teams-scene > .scene-content > .teams-background > .teams-roster {
  position: absolute;
  inset: 0;
  width: 1920px;
  height: 1080px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 1920px 1080px;
}

.scene.teams-scene > .scene-content > .teams-background > .teams-background-image {
  z-index: 1;
  background-image: url("../../rosters/rosters%20bg.png");
}

.scene.teams-scene > .scene-content > .teams-background > .teams-roster {
  z-index: 2;
  background-image: url("../../rosters/rosters%20elements.png");
}

.scene.teams-scene > .scene-content > .active-round-info {
  position: absolute;
  inset: 0;
  z-index: 3;
  color: #fff;
  text-shadow: 0 2px 4px #000;
  pointer-events: none;
}
/* This displays the Current round it is. Dont know how to use it so im leaving it commented out just incase its needed eventually

.active-round-match {
  position: absolute;
  top: 57px;
  left: 50%;
  width: 360px;
  min-height: 28px;
  transform: translateX(-50%);
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
*/
.scene.teams-scene > .scene-content > .active-round-info > .active-round-teams {
  position: absolute;
  inset: 0;
}

/* Container for Team Names */
.scene.teams-scene > .scene-content > .active-round-info > .active-round-teams > .active-round-team {
  position: absolute;
  top: 95px;
  width: 700px;
  height: 90px;
  display: flex;
  align-items: normal;
  gap: 24px;
  min-width: 0;
  padding: 0 24px;
  font-size: 60px;
  font-weight: 700;
}

/* Positional Adjustment for the Team Names */
.scene.teams-scene > .scene-content > .active-round-info > .active-round-teams > .active-round-team-a {
  left: 60px;
  justify-content: flex-end;
}

.scene.teams-scene > .scene-content > .active-round-info > .active-round-teams > .active-round-team-b {
  right: 60px;
  justify-content: flex-start;
}

.scene.teams-scene > .scene-content > .active-round-info > .active-round-teams > .active-round-team > span {
  position: absolute;
  width: calc(100% - 48px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

/* Creates the container for the Player names */
.scene.teams-scene > .scene-content > .active-round-info > .active-round-teams > .active-round-team-a > .active-round-team-a-roster,
.scene.teams-scene > .scene-content > .active-round-info > .active-round-teams > .active-round-team-b > .active-round-team-b-roster {
  position: absolute;
  top: 175px;
  width: 550px;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.3;
  white-space: pre-line;
}

/* Text allignment for player names */
.scene.teams-scene > .scene-content > .active-round-info > .active-round-teams > .active-round-team-a > .active-round-team-a-roster {
  left: 75px;
  text-align: left;
}

.scene.teams-scene > .scene-content > .active-round-info > .active-round-teams > .active-round-team-b > .active-round-team-b-roster {
  left: 175px;
  text-align: left;
}

.scene.teams-scene > .scene-content > .active-round-info > .active-round-teams > .active-round-team > strong {
  flex: 0 0 auto;
  font-size: 38px;
}

/* Shows Bo3, PA3 etc. */
.scene.teams-scene > .scene-content > .active-round-info > .active-round-games {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 270px;
  min-height: 28px;
  transform: translateX(-50%);
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

/*this were da graphics live */
.scene.teams-scene > .scene-content > .teams-background > .teams-roster::before,
.scene.teams-scene > .scene-content > .teams-background > .teams-roster::after {
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 1920px 1080px;
  content: "";
}

.scene.teams-scene > .scene-content > .teams-background > .active-round-team-a-logo,
.scene.teams-scene > .scene-content > .teams-background > .active-round-team-b-logo {
  position: absolute;
  width: 295px;
  height: 295px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  pointer-events: none;
}
.scene.teams-scene > .scene-content > .teams-background > .active-round-team-a-logo {
  top: 250px;
  left: 705px;
}
.scene.teams-scene > .scene-content > .teams-background > .active-round-team-b-logo {
  bottom: 170px;
  right: 715px;
}

.scene.teams-scene > .scene-content > .teams-background > .teams-roster::before {
  z-index: 1;
  background-image: url("../../rosters/rosters_pfp%20overlay.png");
}

.scene.teams-scene > .scene-content > .teams-background > .teams-roster::after {
  z-index: 2;
  background-image: url("../../rosters/rosters_pfp%20overlay%20alt.png");
  opacity: 0;
}

.scene.teams-scene > .scene-content > .teams-background > .teams-roster.use-alt::before {
  opacity: 0;
}

.scene.teams-scene > .scene-content > .teams-background > .teams-roster.use-alt::after {
  opacity: 1;
}